# #!/usr/bin/env ruby
snippet #!
	#!/usr/bin/env ruby

# New Block
snippet pe
	<%= ${1} %>
snippet pr
	<% ${1} %>
# link to helper
snippet lt
	<%= link_to ${1}, ${2} %>
# end tag
	<% end %>
# before filter
	before_filter :${1:method_name}
# if statement
snippet if
	<% if ${1} %>
		${2}
	<% end %>
# if else
snippet ife
	<% if ${1} %>
		${2}
	<% else %>
		${3}
	<% end %>
# end tag
snippet end
	<% end %>
